<div class="gradient-bar" >
  <div class="gradient-w-b"></div>
  <div class="gradient-b-y"></div>
  <div class="gradient-y-bg"></div>
  <div class="gradient-bg-p"></div>
  <div class="gradient-p-g"></div>
  <div class="gradient-g-w"></div>
</div>
