<div class="nav-container">
  <%= link_to tagged_path do %>
    <h1 class="header text-align-center">Quentin Orhant</h1>
    <p class="p-highlight text-align-center">Maker et développeur freelance</p>
  <% end %>
</div>
