.tags-data {
  display: none;
}

.tags-container {
  position: absolute;
  height: 100vh;
  width: fit-content;
  margin-left: 0vh;
  margin-right: 0vh;
  overflow: hidden;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, rgba(0, 0, 0, 0.1) 0px -4px 6px -2px;
}

.sticky {
  position: sticky;
  top: 0px;
  left : 0px;
}

.gradient-titles {
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
}

.icon {
  height: calc(20vh + 52px);
  width: 52px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 26px;
  margin-top: -26px;
  margin-bottom: -26px;
  z-index: 10;
  background-color: rgb(240, 240, 240);
  display: block;
}
.icon:hover {
  z-index: 30;
}

.fab-icon {
  background-image: image-url("fab.png");
  // transition: 0.2s ease;
}
.photo-icon {
  background-image: image-url("photo.png");
  // transition: 0.2s ease;
}
.graph-icon {
  background-image: image-url("graph.png");
  // transition: 0.2s ease;
}
.dev-icon {
  background-image: image-url("dev.png");
  // transition: 0.2s ease;
}
.env-icon {
  background-image: image-url("env.png");
  // transition: 0.2s ease;
}

.fab-icon:hover {
  background-image: image-url("fab2.png");
  background-color: $blue;
}
.photo-icon:hover {
  background-image: image-url("photo2.png");
  background-color: $yellow;
}
.graph-icon:hover {
  background-image: image-url("graph2.png");
  background-color: $blue-grey;
}
.dev-icon:hover {
  background-image: image-url("dev2.png");
  background-color: $purple;
}
.env-icon:hover {
  background-image: image-url("env2.png");
  background-color: $green;
}

.fab-icon-2 {
  background-image: image-url("fab2.png");
  background-color: $blue;
  z-index: 20;
}
.photo-icon-2 {
  background-image: image-url("photo2.png");
  background-color: $yellow;
  z-index: 20;
}
.graph-icon-2 {
  background-image: image-url("graph2.png");
  background-color: $blue-grey;
  z-index: 20;
}
.dev-icon-2 {
  background-image: image-url("dev2.png");
  background-color: $purple;
  z-index: 20;
}
.env-icon-2 {
  background-image: image-url("env2.png");
  background-color: $green;
  z-index: 20;
}

.gradient-tags {
  height: 100vh;
  position: absolute;
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  justify-content: space-around;
}

.tag-title {
  padding-left: 10px;
  display: inline;
  font-size: 16px;
  opacity: 0%;
  margin-top: 3px;
  transition: opacity 1s linear;
}

.icon:hover + .tag-title {
  opacity: 60%;
}
